In [150]:
import requests
import json
import pandas as pd
import random

This programme uses the randomuser.me API to generate 100 random people with some details

In [151]:
def get_random_person():

    base_site = 'https://randomuser.me/api'
    response = requests.get(base_site)

    title = response.json()['results'][0]['name']['title']
    first_name = response.json()['results'][0]['name']['first']
    last_name = response.json()['results'][0]['name']['last']
    gender = response.json()['results'][0]['gender']
    street = response.json()['results'][0]['location']['street']['name']
    country = response.json()['results'][0]['location']['country']
    age = random.randint(18,86)

    return{'Title':title,'First Name': first_name, 'Surname' : last_name, 'Sex': gender, 'Street': street, 'Country': country, 'Age': age}
    

#Create a list of dictionaries containg information
def get_list_of_people():

    random_list = []

    while len(random_list) < 100:
        new_person = get_random_person()
        random_list.append(new_person)

    return random_list

In [152]:
#creating a list to create DataFrame
list_one = get_list_of_people()

db = pd.DataFrame(list_one)
db

,Title,First Name,Surname,Sex,Street,Country,Age
0,Ms,Esmeralda,Esparza,female,Viaducto Norte Gamboa,Mexico,39
1,Miss,Ilariya,Danileyko,female,Provulok Ostrovskogo,Ukraine,33
2,Mr,Oliver,Salminen,male,Hämeenkatu,Finland,35
3,Ms,Hazel,Morris,female,Elles Road,New Zealand,43
4,Mr,Luis,Pastor,male,Calle del Arenal,Spain,82
...,...,...,...,...,...,...,...
95,Mr,Håkon,Thunes,male,Rosenhoffgata,Norway,74
96,Miss,Emily,Thomas,female,Beach Road,New Zealand,81
97,Ms,Juliane,Pilz,female,Lindenweg,Germany,72
98,Mr,رادین,کوتی,male,میدان فلسطین,Iran,84
99,Mr,Neotero,Ramos,male,Rua Dezesseis de Maio,Brazil,34